<div class="container">
  <div class="row">
    <div class="col-md-9">

<div class="mt-5">
  <div class="info-title">
<h2>登録情報</h2>
</div>
</div>

    
<div class="py-2">
<ul class="box-info">
 <li><h5>名前：<%= @user.name %></h5></li>
 <li><h5>メールアドレス： <%= @user.email %></h5></li>
</ul>
</div>
 <div class="info-title">
<h2>レビュー投稿履歴</h2>
</div>
<% @posts.each do |post| %>
<div class="box-review">
  満足度: <div id="star-rate-<%= post.id %>"></div>
          <script>
          $('#star-rate-<%= post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.rate %>,
          });
          </script>
  
  タイトル:<%= post.title %><br>
  レビュー内容:<%= post.content %><br>

<div class="btn btn--info btn--cubic btn--shadow">
<%= link_to "編集", edit_user_post_path(@user,post), data: {"turbolinks" => false} %>
</div>
<div class="btn btn--info btn--cubic btn--shadow">
<%= link_to "削除", user_post_path(@user,post), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
</div>
</div>
<% end %>
</div>
</div>
</div>



