<header class="mb-4">

    <% if logged_in? %>
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/items">メンズスキンケア広場</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to '商品一覧', items_path, class: 'nav-link' %></li>
        <% if current_user.admin? %>
        <li class="nav-item"><%= link_to '商品登録', new_item_path, class: 'nav-link' %></li>
        
        <% end %>
        <li class="nav-item"><%= link_to '会員情報', user_path(current_user), class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete, data: { confirm: "本当にログアウトしますか？" }, class: 'nav-link' %></li>
    <% else %>   
      <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">メンズスキンケア広場</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <li class="nav-item"><%= link_to '新規登録', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
      <% end %>
      </ul>
    </div>
  </nav>
</header>